@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this CSS in your global CSS file or component-specific styles */
.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}


/* Add this CSS to your global styles or component-specific styles */
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #4f46e5; /* Purple */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
